body {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
}
.first,
.second,
.third,
.fourth {
    padding-left: 300px;
    padding-right: 300px;
}

.first,
.footer {
    background-color: #1F2937;
}

.first {
    padding-top: 30px;
}

.third {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 100px;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
}

.links.header,
.hero .secondary {
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header ul{
    display: flex;
    gap: 30px;
}



a {
    text-decoration: none;
}

.hero img {
    height: 250px;
    width: 1000px;
    text-align: center;
    background-color: grey;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    margin-bottom: 150px;
}

.hero .content {
    display: flex;
    flex-direction: column;
}

.hero .btn{
    border: 0px;
    margin-top: 10px;
}

button {
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.hero .main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 150px;
}

.second img {
    height: 200px;
    width: 200px;
    border: 4px;
    border-style: solid;
    border-radius: 30px;
    border-color: #3882F6;
}

.second ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.second li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .second p {
    text-align: center;
 }

.second .title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}


.third {
    padding-top: 150px;
    padding-bottom: 150px;
}

.third .quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.third .author {
    text-align: end;
    font-size: 30px;
    font-weight: 700;
}
